@font-face {
  font-family: "Roboto";
  src: url(./Fractal-Audio-HomePage/assets/Roboto/Roboto-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", monospace;
  margin: 0;
  background: #000;
}

.nav-ctn {
  background: #222222;
  color: #ffffff;
  line-height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}

.nav-ctn img {
  padding: 15px 0px;
}

.nav-links {
  list-style: none;
  margin: 0;
}

.nav-links li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;

  text-decoration: none;
}
.nav-links a {
  color: #ffffff;
  text-decoration: none;
  min-width: 8rem;
}

.nav-links li:hover {
  background: rgb(99, 52, 52);
  margin: 0;
}

.btn-shop {
  margin: auto 5px;
  padding: 0;
  height: 2.5rem;
  min-width: 8rem;
  border-radius: 0.2rem;
  border-color: transparent;
  background: #ff6600;
  color: #ffffff !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-shop span {
  font-size: 1.1rem;
  padding-right: 4px;
}

.btn-shop:hover {
  background: #ffffff;
  color: #ff6600 !important;
}

.main-content {
  background: #000;
  /* display: flex;
	align-items: center;
	justify-content: center; */
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* .main-content img {
	display: block;
	width: 100%;
} */

.img-ctn {
  display: flex;
  flex-direction: column;
}

.img-ctn img {
  width: 100%;
}

.fm3-fm9 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.fm3-fm9 img {
  width: 100%;
  height: auto;
}

.main-description {
  color: #ffffff;
  text-align: center;
  margin: auto;
  max-width: 55%;
}

.main-description ul {
  list-style: none;
}

.main-description li {
  margin-bottom: 0.5rem;
  line-height: 16px;
}

.main-description a {
  text-decoration: none;
  color: #d6ab03;
  font-weight: 700;
}

.btn-compare {
  background: #ff6600;
  width: 150px;
  height: 40px;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-compare a {
  padding: 10px 37px;
  color: #ffffff;
}

.btn-compare a:hover {
  background: #ffffff;
  color: #ff6600 !important;
}

.footcontrollers {
  background: #ffffff;
  padding: 40px 64px;
}

.fc-ctn {
  margin: auto;
  max-width: 1285px;
  width: 100%;
  text-align: center;
}

.fc-ctn h1 {
  font-size: 28px;
}

.fc-ctn h2 {
  font-size: 22px;
}

.fc-ctn p {
  padding-bottom: 24px;
  line-height: 25px;
}

.fc-ctn a {
  text-decoration: none;
  color: #0297d6;
}

.fc-ctn a:hover {
  color: #ff6600;
}

.fc-ctn img {
  width: 100%;
}

.artists {
  background-image: url(./Fractal-Audio-HomePage/assets/bg-img-1.jpg);
  background-size: cover;
}

.artist-text-wrap {
  text-align: center;
  color: #ffffff;
  padding-top: 40px;
}

.artist-text-wrap h1 {
  font-size: 30px;
  line-height: 1rem;
}

.artist-text-wrap p {
  padding-bottom: 10px;
}

.artist-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(6, auto);
  justify-content: center;
  align-items: center;
  gap: 0px 5px;
}

.artist-grid > div > img {
  width: 400px;
}
